In [7]:
import pandas as pd

data = {
  "calories": [420, 380, 390, 400],
  "duration": [50, 40, 45,30]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45
3       400        30

In [9]:
import pandas as pd

df = pd.read_csv('name.csv')

print(df.to_string())

   FirstName      LastName  Age
0   Madhavan     Narkeeran   17
1      Meena     Narkeeran   12
2    Kavitha  Kaliamoorthy   45
3  Narkeeran    Narasimhan   49